* {
    box-sizing: border-box;
}

.descTxtGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "desct txt1 txt1 txt1";
  }
  
.desct { 
    grid-area: desct;
    margin-right: 50px;
}
  
.txt1 { grid-area: txt1; }

.txtImgGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "heading heading" "txt2 img";
  }

.heading {
    grid-area: heading;
}
  
.txt2 { 
    grid-area: txt2;
    margin-right: 50px;
}
  
.img { grid-area: img; }

.features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.item {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 45%;
}

.itemDesc {
    font-size: 15px;
    line-height: 20px;
}

.sectionMargin {
    margin-bottom: 80px;
    margin-top: 80px;
}

.pMargin {
    margin-bottom: 30px;
    margin-top: 30px;
}

.centeredBtn{
    background-color: #254435;
    color: white;
    border-radius: 6px;
    margin-top: -100px;
    padding: 10px 50px;
}

.centeredBtn:hover {
    background-color: #71A633;
}

.figUnderBtn {
    margin-top: 100px;
}

.gridPic {
    width: 100%;
}

a{
    text-decoration: none;
}

body {
    margin: 0 10%;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

figcaption {
    font-size: 12px;
    font-style: italic;
    padding-bottom: -10px; 
    margin-bottom: 20px;
}

li, p {
    line-height: 23px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 35px;
    line-height: 45px;
}

h2 {
    font-size: 27px;
    line-height: 40px;
}

h3 {
    font-size: 25px;
    line-height: 35px;
}

h4 {
    font-size: 23px;
    line-height: 40px;
}

h5 {
    font-size: 18px;
    line-height: 22px;
}
h6 {
    font-size: 15px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

i {
    color: black;
    font-size: 25px;
    padding: 5px;
    margin: 0px 3px;
}

p {
    font-size: 18px;
    line-height: 30px;
}

.aWidth {
    width: 50% !important;
}

.banner{
    align-items: center;
    height: auto;
    display: flex;
}

.banner h1 {
    text-align: center;
    float:left;
    padding: 0 40px;
    width: 70%;
    height: auto;
}

.banner img {
    display: inline-block;
    height: auto;
    max-width: 30%;
}

.bkToTop {
    position: fixed;
    right: 2%;
    top: 89vh;
}

.bold {
    font-weight: 600;
}

.card{
    background-color: white;
    border-radius: 12px;
    margin: 10px 15px;
    width: 320px;
    height: 425px;
    padding: 10px 20px;
    text-align: center;
}

.cardBlock {
    align-content: space-around;
    display: flex;
    padding-top: 40px;
}

.card h6 {
    padding-bottom: 20px;
}

.caseStudyNav {
    display: flex;
    width: 100%;
    padding: 20px 0;
    margin-top: 40px;
}

.caseStudyNext {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 1vw;
    width: 50%;
}

.caseStudyPrev {
    align-items: center;
    display: flex;
    justify-content: left;
    padding-left: 1vw;
    width: 50%;
}

.case-studies {
    display: flex;
    margin: 40px 50px 30px 50px;
    width: 100%;
}

.circleBtn {
    align-items: center;
    background: mediumslateblue;
    border-radius: 100%;
    box-shadow: 3px 5px 15px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    height: 80px;
    margin-right: 20px;
    width: 80px;
}

.circleBtn:hover {
    background: slateblue;
    cursor: pointer;
}

.codedSite {
    background-color: #254435 !important;
    margin-top: 20px;
}

.collage {
    display: block;
    float: left;
}

.desc {
    text-align: left;
    width: 25% !important;
}

.download {
    color: white;
    font-size: 50px;
}

.download:hover {
    color: white;
}

.floatMsg {
    float: right;
    height: 100%;
    width: auto;
}

.full {
    height: 120px;
    width: 100%;
}

.flexItem {
    margin: 0 auto;
}

.float {
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.floatMessage {
    height: auto;
    width: 30%;
}


.footer {
    align-items: center;
    background-color: white;
    grid-area: footer;
    padding: 8px 5px;
    display: flex;
}

.footer div {
    flex-grow: 1;
    padding: 3px 0;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: 
    "sideNav mainContent"
    "sideNav footer"
}

.half {
    width: 50%;
}

.hello {
    background-image: url("../img/dessertRose.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding: 0 40px;
}

.hello div {
    background-color: mistyrose;
    width: 60%;
    padding: 10px 20px;
}

.interest{
    height: 60%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.linenSection {
    background-color: linen;
    padding: 50px 80px;
    width: 100%;
}

.linenSection ul {
    margin-left: 20px;
    list-style-type: circle;
}

.logo{
    padding: 10px;
    height: 200px;
}

.mainContent {
    background-color: linen;
    display: flex;
    flex-direction: column;
    grid-area: mainContent;
}

.marginL {
    margin-left: 16px !important;
}

.navLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 80px;
    padding-left: 25%;
    padding-top: 80px;
    font-size: 20px;
}

.navLinks li a{
    line-height: 35px;
    color: dimgray;
}

.navLinks li a:hover, i:hover {
    color: mediumslateblue;
}

.next, .prev {
    color: mediumslateblue;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500; 
    padding-bottom: 5px;
}

.next:hover, .prev:hover {
    border-bottom: solid 2px mediumslateblue;
}

.oddBlock {
    background-color: white;
    border-left: mistyrose 10px solid;
}

.pinkSection {
    background-color: mistyrose;
    padding: 80px 80px;
    width: 100%; 
}

.pinkSection img {
    height: 250px;
}

.portfolioCard {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 20px auto;
    width: 90%;
}

.portfolioCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.10);
}

.portfolioContainer {
    padding: 40px 0;
}

.problemStatement {
    font-size: 30px;
    font-family: Raleway;
    line-height: 40px;
    margin-bottom: 15px;
}

.problemStatement2 {
    font-size: 24px;
    font-family: Raleway;
    line-height: 33px;
    margin-bottom: 15px;
}

.projDesc {
    flex-wrap: wrap;
    margin: 16px 16px;
    padding: 20px 10px;
    width: 60%;
}

.projContext {
    padding-top: 15px;
}

.projTitle {
    color: dimgray;
    font-weight: 600;
}

.projImg {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin: 16px 16px;
    max-width: 100%;
    text-align: center;
    width: 40%;
}

.projImg img{
    max-width: 100%;
}

.projRole {
    color: darkgray;
    font-style: italic;
    padding-bottom: 30px;
    padding-top: 10px;
}

.portfolioImg {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.readMore {
    background-color: mediumslateblue;
    color: white;
    border-radius: 6px;
    padding: 10px 50px;
}

.readMore:hover {
    background-color: slateblue;
}

.resume {
    width: 100%;
}

.row {
    align-items: center;
    display: flex;
    justify-content: center;
}

.section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
}

.separator {
    background-color: dimgray;
    height: 1px;
    margin: 20px 0;
    width: 100%;
}

.separatorH {
    background-color: dimgray;
    height: 1px;
    margin: 20px 0;
    width: 50%;
}

.separatorTitle {
    background-color: dimgray;
    height: 1px;
    margin: 5px 0;
    width: 100%;
}

.sideNav {
    grid-area: sideNav;
    text-align: center;
}

.sticky {
    position: sticky;
    top: 0;
}

.subnav {
    color: gainsboro;
    font-size: 15px;
}

.subNavLinks {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-top: 3px;
}

.textBlock {
    text-align: left;
}

.textBlock h5, .textBlock h3, .textBlock h1{
    color: dimgray;
    font-weight: 600;
}

.textBlock h1 {
    margin: 20px 0;
}

.textBlock h3 {
    margin: 8px 0;
}

.textBlock h5 {
    margin: 25px 0 10px 0;
}

.textBlock li {
    list-style-type: circle;
}

.textBlock ul {
    padding-left: 20px;
}

.thin {
    font-weight: 300;
}

.quarter {
    width: 25%;
}

.quote {
    border-left: dimgray 2px solid;
    padding-left: 60px;
    font-style: italic;
}

.walkthrough {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.webID {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    padding: 25px;
}

.webID div {
    font-size: 30px;
    font-weight: 300;
}

.whole {
    width: 100%;
}

#aboutMe p {
    padding: 15px 25% 15px 0;
}

#activePage {
    color: mediumslateblue;
}

#copyright {
    color: dimgray;
    font-size: 15px;
    text-align: right;
    padding: 5px;
    width: auto;
}

#me {
    width: 100%;
}

#quoteAuthor {
    text-align: right;
    padding-top: 20px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.5);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 10px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.5);
		transform: translatey(0px);
	}
}

@media only screen and (max-width: 1400px) {
    .descTxtGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "desct" "txt1";
      }
    
    .txtImgGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: "heading" "txt2" "img";
    }

    .txt2 {
        margin-bottom: 40px;
    }

    .centeredBtn{
        margin-top: -80px;
    }
    
    .figUnderBtn {
        margin-top: 80px;
    }
    
    .pMargin {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .gridPic {
        width: 50%;
    }

    .sectionMargin {
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        margin: 0;
    }

    i {
        font-size: 16px;
    }

    .descTxtGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "desct txt1 txt1 txt1";
      }
    
    .txtImgGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "heading heading" "txt2 img";
    }

    .txt2 {
        margin-bottom: 40px;
    }

    .bkToTop {
        right: 2%;
        top: 89vh;
    }

    .centeredBtn{
        margin-top: -100px;
    }

    .circleBtn {
        height: 70px;
        width: 70px;
    }
    

    .download {
        font-size: 30px;
    }

    .figUnderBtn {
        margin-top: 100px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 45px;
        grid-template-areas: 
            "sideNav"
            "mainContent" 
            "footer"
    }

    .gridPic {
        width: 100%;
    }

    .logo {
        height: 80px;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        padding: 5px 8px;
        font-size: 16px;
    }

    .navLinks li {
        padding: 0 10px;
    }

    .pinkSection {
        background-color: mistyrose;
        padding: 70px 70px;
        width: 100%; 
    }
    
    .pinkSection img {
        height: 250px;
    }

    .portfolioCard {
        flex-direction: row;
    }

    .projDesc {
        width: 50%;
    }
    
    .projImg {
        background-color: white;
        width: 50%;
    }
    
    .projImg img{
        max-width: 70%;
    }

    .sideNav {
        height: auto;
        padding: 5px;
    }

    .social-icon{
        height: 32px;
        padding: 5px;
        margin: 0px 3px;
    }
    
    .subNavLinks {
        display: none;
    }

    .webID {
        padding: 5px;
    }

    .webID div {
        font-size: 23px;
    }

    #aboutMe p {
        padding: 15px 15% 15px 0;
    }
}

@media only screen and (max-width:720px) {
    body {
        margin: 0;
    }

    h1 {
        font-size: 23px;
    }

    h3 {
        font-size: 20px;
        line-height: 35px;
    }

    i {
        font-size: 16px;
        padding: 5px 10px;
    }

    iframe {
        height: 300px;
        width: 400px;
    }

    .descTxtGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "desct" "txt1";
      }
    
    .txtImgGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: "heading" "txt2" "img";
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner h1 {
        text-align: center;
        float: none;
        padding: 20px 15px;
        width: 70%;
        height: auto;
    }

    .banner img {
        display: inline-block;
        height: auto;
        max-width: 100%;
    }

    .bkToTop {
        right: 3%;
        top: 85vh;
    }

    .cardBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .centeredBtn{
        margin-top: -80px;
    }

    .circleBtn {
        height: 60px;
        width: 60px;
    }

    .figUnderBtn {
        margin-top: 80px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 50px;
        grid-template-areas: 
            "sideNav"
            "mainContent" 
            "footer"
    }

    .gridPic {
        width: 75%;
    }

    .interest {
        min-height: 250px;
    }

    .logo {
        height: 80px;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        padding: 5px 10px;
        font-size: 16px;
    }

    .navLinks li {
        padding: 0 10px;
    }

    .pinkSection {
        background-color: mistyrose;
        padding: 80px 30px;
        width: 100%; 
    }
    
    .pinkSection img {
        height: 150px;
    }

    .portfolioCard {
        flex-direction: column;
    }

    .pMargin {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .projDesc {
        width: 90%;
    }
    
    .projImg {
        background-color: white;
        width: 90%;
    }
    
    .projImg img{
        max-width: 70%;
    }

    .sideNav {
        height: auto;
        padding: 5px;
    }

    .webID {
        padding: 5px;
    }

    .webID div {
        font-size: 23px;
    }  

    #copyright{
        padding: 10px 0 40px 0;
    }
}

@media only screen and (max-width:520px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    iframe {
        height: 200px;
        width: 350px;
    }

    .gridPic {
        width: 100%;
    }

    .linenSection {
        margin: 0;
        padding: 25px 20px;
    }

    .next {
        text-align: right;
    }

    .next, .prev {
        font-size: 15px;
    }

    .prev {
        text-align: left;
    }

    .pinkSection {
        margin: 0;
        padding: 25px 20px;
    }

    .section {
        margin: 0;
        padding: 25px 20px;
    }
    
}

@media only screen and (max-width: 414px) {
    body {
        overflow-x: hidden;
    }

    .banner {
        flex-direction: column-reverse;
        align-content: center;
        max-width: 414px;
    }

    .case-studies{
        width: 80%;
    }

    .hello div {
        width: 80%;
    }

    .navLinks {
        width: 100%;
    }

    .mainContent {
        max-width: 414px;
    }

    .pinkSection {
        max-width: 100%;
    }

    .sideNav {
        max-width: 414px;
    }
    
    .visual {
        height: auto;
        width: 374px; 
    }

    #aboutMe p{
        padding-right: 0;
    }

    #me {
        height: auto;
        max-width: 414px;
    }
}

@media only screen and (max-width:375px) {
    body {
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    h1 {
        font-size: 23px;
    }

    h3 {
        font-size: 20px;
        line-height: 35px;
    }

    i {
        padding: 5px 10px;
    }

    iframe {
        height: 200px;
        width: 335px;
    }

    .banner {
        flex-direction: column-reverse;
        align-content: center;
        max-width: 375px;
    }

    .banner h1 {
        text-align: center;
        float: none;
        padding: 20px 15px;
        width: 100%;
        height: auto;
    }

    .banner img {
        display: block;
        height: auto;
        width: auto;
    }

    .card {
        margin: 10px 0;
        padding-left: 0;
        padding-right: 0;
    }

    .cardBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 375px;
    }

    .case-studies {
        margin: 25px 20px;
        width: 90%;

    }

    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 50px;
        grid-template-areas: 
            "sideNav"
            "mainContent" 
            "footer"
    }

    .hello div {
        width: 80%;
    }

    .interest {
        min-height: 250px;
    }

    .linenSection {
        padding: 25px 15px;
        max-width: 375px;
    }

    .logo {
        height: 80px;
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        padding: 5px 10px;
        font-size: 16px;
    }

    .navLinks li {
        padding: 0 10px;
    }

    .pinkSection {
        background-color: mistyrose;
        padding: 25px 15px;
        width: 100%; 
        max-width: 375px;
    }

    .portfolioCard {
        flex-direction: column;
        margin: 20px auto;
    }

    .portfolioContainer {
        padding: 25px 15px;
    }

    .section {
        padding: 25px 15px;
    }

    .sideNav {
        height: auto;
        padding: 5px;
    }

    .social-icon{
        height: 30px;
        padding: 5px;
        margin: 0px 2px;
    }

    .resume {
        max-width: 375px;
    }

    .visual {
        height: auto;
        width: 345px;
    }

    .webID {
        padding: 5px;
    }

    .webID div {
        font-size: 23px;
    }

    #copyright {
        font-size: 11px;
        padding: 10px 0 40px 0;
    }

    #aboutMe p {
        padding: 15px 5px;
    }

    #me {
        height: auto;
        max-width: 100%;
    }

}