* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0 auto;
}

.grid{
    display: grid;
    height: 100vh;
    width: 1250px;
    grid-template-columns: minmax(300px, 1fr) 3fr;
    grid-template-rows: 1fr;
}

#main-content {
    background-color: mediumslateblue;

    
}
#side-nav {
    background-color: dimgray;
    
}